---
---

<div class="lang-switch" data-lang="es" id="lang-switch-root">
	<button
		type="button"
		class="lang-switch__toggle"
		id="lang-switch-btn"
		aria-label="Cambiar a inglés"
		title="ES / EN"
	>
		<span class="lang-switch__flag lang-switch__flag--es" aria-hidden="true">
			<svg class="lang-switch__svg" viewBox="0 0 750 500" xmlns="http://www.w3.org/2000/svg">
				<rect fill="#c60b1e" width="750" height="125"></rect>
				<rect fill="#ffc400" y="125" width="750" height="250"></rect>
				<rect fill="#c60b1e" y="375" width="750" height="125"></rect>
			</svg>
		</span>
		<span class="lang-switch__sep" aria-hidden="true"></span>
		<span class="lang-switch__flag lang-switch__flag--en" aria-hidden="true">
			<svg class="lang-switch__svg" viewBox="0 0 60 30" xmlns="http://www.w3.org/2000/svg">
				<rect fill="#012169" width="60" height="30" rx="1"></rect>
				<path stroke="#fff" stroke-width="10" d="M30 0v30M0 15h60"></path>
				<path stroke="#c8102e" stroke-width="6" d="M30 0v30M0 15h60"></path>
				<path stroke="#fff" stroke-width="7" d="M0 0l60 30M60 0L0 30"></path>
				<path stroke="#c8102e" stroke-width="4" d="M0 0l60 30M60 0L0 30"></path>
			</svg>
		</span>
	</button>
</div>
